{% include 'header.html' %}

<div class='container'>
    <h2 style="text-align:center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        In this simulation, you and your child will be moving through the different stages of life. 
        You will be confronted with different decisions to make. At the end, your child's character traits will be revealed.
        <br>
        <br>
        <a href="{{ url_for('stages') }}" class="btn btn-lg btn-info" role="button">Get Started</a>
        <!-- <button type="button" class="btn btn-primary btn-lg">Get Started</button> -->
    </h2>
    

</div>

{% include 'footer.html' %}


